.parent {
    height: 90vh;
    width: 90vw;
    background-color: rgb(236, 229, 211);
    display: flex;
    flex-direction:row;
    /* justify-content: space-between; */
    align-items: baseline;
}
.parent div {
    height: 200px;
    width: 200px;
}
.child1 {
    background-color:rgb(205, 31, 31);
    /* order: 6; */
}
.child2{
    background-color: rgb(215, 111, 31);
    /* order: 5; */
}
.child3 {
    background-color:#14dc7b;
    order: 4;
}
